/* ---------- Basic Element --------- */
/* Base font size */
html {
    font-size: 10px;
}

/* iPhone */
@media screen and (min-width: 0px) {
    h1 {
        font-size: 3.2rem;
    }

    body {
        font-size: 1.8rem;
    }
}

/* iPad */
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 5.6rem;
    }

    body {
        font-size: 2.4rem;
    }
}

/* PC */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4.0rem;
    }

    body {
        font-size: 2.0rem;
    }
}

/* ---------- base.html ---------- */
@media screen and (min-width: 0px) {
    .navbar {
        padding: 1.5rem;
    }
    
    .navbar-brand {
        font-size: 3.2rem;
    }
}
@media screen and (min-width: 1000px) {
    .navbar{
        padding: 2rem;
    }
    .navbar-brand {
        font-size: 3.6rem;
    }
}
@media screen and (min-width: 1200px) {
    .navbar {
        padding-left: 2.0rem;
    }
    .navbar-brand {
        font-size: 3.0rem;
    }
}

/* ---------- index.html ---------- */
@media screen and (min-width: 0px) {
    .start-button {
        font-size: 2.4rem;
        padding: 0.8rem 2.0rem;;
        border-radius: 20px;
    }
}
@media screen and (min-width: 1000px) {
    .start-button {
        font-size: 3.0rem;
        padding: 1.6rem 3.2rem;;
        border-radius: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .start-button {
        font-size: 2.0rem;
        padding: 0.8rem 2.0rem;
        border-radius: 10px;
    }
}


/* ---------- game.html ---------- */
@media screen and (min-width: 0px) {
    .game-container {
        padding: 2.5rem;
    }
    
    .stop-watch {
        outline: 0;
        border: 0px;
    }
    
    .game-button {
        font-size: 1.6rem;
        width: 6.0rem;
        height: 6.4rem;
        margin: 0.1rem;
        margin-top: 1.5rem;
        border-radius: 5px;
    }
    
    .input-formula {
        outline: none;
        border: none;
        border-bottom: 1px solid #aaaaaa;
        position: relative;
    	width: 60vw;
    }
}
@media screen and (min-width: 1000px) {
    .game-container {
        padding-top: 5rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .game-button {
        width: 16rem;
        height: 16rem;
    }
}
@media screen and (min-width: 1200px) {
    .game-container {

    }
    .game-button {
        font-size: 2.4rem;
        width: 8rem;
        height: 8rem;
        border-radius: 10px;
    }
}


/* ---------- clear.html ---------- */
.input-user-name {
    outline: none;
    border: none;
    border-bottom: 1px solid #aaaaaa;
    position: relative;
	width: 50vw;
	margin: 40px 3%;
}
