{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Make 10</title>
        <!-- Bootstrap4 -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="{% url 'index' %}">Make10</a>
        </nav>
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>