{% extends 'make10/base.html' %}
{% block content %}
    <div id="figure">
        問題: 
        {% for number in numbers %}
            <input type="button" value="{{ number }}" onclick="clickFigure(this)">
        {% endfor %}
    </div>
    
    <form action="{% url 'judge' %}" method="POST">
        {% csrf_token %}
        <input type="text" id="formula" name="formula">
        <input type="submit" id="decide" disabled="true" value="決定">
    </form>

    <div>
        <input type="button" value="+" onclick="clickOperator(this)">
        <input type="button" value="-" onclick="clickOperator(this)">
        <input type="button" value="×" onclick="clickOperator(this)">
        <input type="button" value="÷" onclick="clickOperator(this)">
        <input type="button" value="(" onclick="clickParenthesis(this)">
        <input type="button" value=")" onclick="clickParenthesis(this)">
        <input type="button" value="削除" onclick="popFormula()">
    </div>

    <div>
        {{ message }}
    </div>
    <div>
        現在{{ correct_count }}問正解
    </div>
{% endblock %}