{% extends 'make10/base.html' %}
{% block content %}
<div class="game-container">
    <script type="text/javascript">
        window.onload = initGame
    </script>
    <h1>
        第<span id="correctCount">1</span>問
    </h1>
    <h2>
        <span id="statement"></span>を用いて10を作れ!
    </h2>
    <br>
    <h2>
        入力: <input class="input-formula" type="text" id="formula" name="formula">
    </h2>

    <div id="figure">
        <input class="btn btn-secondary game-button" type="button" onclick="clickFigure(this)">
        <input class="btn btn-secondary game-button" type="button" onclick="clickFigure(this)">
        <input class="btn btn-secondary game-button" type="button" onclick="clickFigure(this)">
        <input class="btn btn-secondary game-button" type="button" onclick="clickFigure(this)">
    </div>
    <div>
        <input class="btn btn-secondary game-button" type="button" value="+" onclick="clickOperator(this)">
        <input class="btn btn-secondary game-button" type="button" value="-" onclick="clickOperator(this)">
        <input class="btn btn-secondary game-button" type="button" value="×" onclick="clickOperator(this)">
        <input class="btn btn-secondary game-button" type="button" value="÷" onclick="clickOperator(this)">
        <br>
        <input class="btn btn-secondary game-button" type="button" value="(" onclick="clickParenthesis(this)">
        <input class="btn btn-secondary game-button" type="button" value=")" onclick="clickParenthesis(this)">
        <input class="btn btn-danger game-button" type="button" value="削除" onclick="popFormula()">
        <input class="btn btn-primary game-button" type="button" id="answer" disabled="true" value="決定" onClick="judge()">
    </div>
    <br>
    <div class="message" id="message">
    </div>

    <h2>
        <form name="myForm">
            Time: <input class="stop-watch" type="text" size="12" name="myFormTime" id="timer">
        </form>
    </h2>

    <form action="{% url 'clear' %}" method="POST" id="clearTimeForm">
        {% csrf_token %}
        <input type="hidden" id="clearTimeInput" name="clearTime">
    </form>
</div>
{% endblock %}